.Login{
    height: 100%;
    width: 100%;
    padding-top: 70px;
}

.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    min-height: 55%;
    background-color: #fff;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    border: 1px solid #083A5510;
    box-shadow: 0 3px 6px #00000010;
    padding: 40px 70px;
}


.formHeader{
    font-family: "Nexa-bold";
    font-size: 25px;
    margin-bottom: 30px;
    color: #083A55;
}


.formGroup{
    width: 100%;
    padding: 10px 0;
}

.formGroup input{
    border: 1px solid #cccccc;
    width: 100%;
    padding: 15px;
    color: #083A55;
    outline: none;
    margin: 5px 0;
    font-size: 17px;
    border-radius: 5px;
    /* transition: all 0.3s ease-out; */
}

.formGroup input:focus{
    border: 1px solid #083A55;
}

.formGroup label{
    font-family: "Nexa-light";
    font-size: 14px;
    color: #083A55;
}
.btn{
    display: inline-block;
    padding: 12px 20px;
    border-radius: 5px;
    min-height: 50px;
    min-width: 150px;
    cursor: pointer;
    font-family: "Nexa-bold";
    border: none;
    background-color: transparent;
    outline: none !important;
}


@media (max-width: 1100px){
    .loginBox{
        width: 60%;
        min-height: 40%;
    }
}

@media (max-width: 768px){
    .loginBox{
        width: 90%;
    }
}

@media (max-width: 500px){
    
    .loginBox{
        width: 95%;
        padding: 10px 20px;
        min-height: 60%;
        background-color: transparent;
        box-shadow:  none;
        border: none;
        margin-top: -20px;
        /* top: 55%; */
    }

    .btn{
        width: 100%;
        border: none;
    }
}

@media (max-height: 700px){
    
    .Login{
        padding-top: 200px;
        padding-bottom: 100px;
        /* margin-bottom: 3rem; */
    
    }

    .loginBox{
        position: relative;
        min-height: 70%;
        top: 150px;
        display: flex;
        flex-direction: column;
    }


}