.Notification{
    position: fixed;
    width: 80%;
    max-width: 700px;
    padding: 15px 30px;
    border: 1px solid;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in;
    z-index: 2000;
    text-align: center;
    box-shadow: 0 2px 3px #00000005;
}

.Notification span{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Nexa-light';
}


.NotificationOpen{
    display: block;
    opacity: 1;
}

@media (max-width: 500px) {
    .Notification span{
        font-size: 12px;
    }   
}