.Notification{
    position: fixed;
    width: 80%;
    max-width: 700px;
    padding: 20px 50px;
    border: 2px solid;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in;
    z-index: 1499;
    text-align: center;
    box-shadow: 0 2px 3px #00000010;
}

.Notification span{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Nexa-bold';
}


.NotificationOpen{
    display: block;
    opacity: 1;
}
