.Modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
    display: none;
    /* height: 100%; */
}

.ModalOpen{
    height: 100%;
    width: 100%;
    display: block;
}


.backdrop{
    background-color: #00000070;
    opacity: 0;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    animation: backdropOpen 0.3s ease-out 0s 1 forwards;
}

.backdropClose{
    animation: backdropClose 0.3s ease-out 0s 1 forwards;

}

@keyframes backdropOpen{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes backdropClose{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}

.MainContainer > div{
    opacity: 0;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: MainContainerOpen 0.3s ease-out 0s 1 forwards;
    z-index: 1300;
    max-height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
}


.MainContainerClose > div{
    animation: MainContainerClose 0.3s ease-out 0s 1 forwards;
}


@keyframes MainContainerOpen{
    from{
        opacity: 0;
        transform: translate(-50%, -50%);
    }to{
        opacity: 1;
        transform: translate(-50%, -52%);
    }
}

@keyframes MainContainerClose{
    from{
        opacity: 1;
        transform: translate(-50%, -52%);
    }to{
        opacity: 0;
        transform: translate(-50%, -50%);
    }
}


svg.close{
    position: absolute;
    right: 20px;
    top: 20px;
    height: 15px;
    width: 15px;
}




