.Card {
	width: 20%;
	margin-bottom: 1.5rem;
}

.Card_img {
	border-radius: 4px;
}

.Card_img img {
	width: 100%;
}

.Card_button {
	width: 100%;
	font-size: 1.1rem;
}

/* Tablet */
@media only screen and (max-width: 768px) {
	.Card {
        width: 25%;
        font-size: .9rem;
	}
}

/* Phone */
@media only screen and (max-width: 500px) {
	.Card {
        width: 35%;
        font-size: .8rem;
	}
}