.Home{
    height: 100%;
    width: 100%;
}

.subHeader{
    /* width: 100%; */
    margin: 20px 0 35px 0;
}

.cardList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
}


