.Header {
    background-color: var(--teal);
    width:100%-1rem;
    padding:1.5rem 2.5rem;
    display:flex;
    justify-content:space-between;
}

.Logo {
    font-size: 2rem;
    color: white;
}
.Link {
    color:white;
    text-decoration:none;
    align-self:flex-end;
    align-self:center;
    font-size: 1.3rem;
}

.Link::after {
    content: "";
    display: block;
    width: 0;
    border-bottom: 2px solid white;  
    transition: all .5s;  
}

.Link:hover::after,
.Link:active::after {
    width: 100%;
}