.Header{
    width: 100%;
    height: 70px;
    background-color: #083A55;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.Header svg{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}


.Header a{
    color: #fff;
}


