/* @import url('https://fonts.googleapis.com/css?family=Livvic&display=swap'); */


@font-face{
  font-family: "Nexa-bold";
  src: url('./assets/fonts/Nexa Bold.otf');
}

@font-face{
  font-family: "Nexa-light";
  src: url('./assets/fonts/Nexa Light.otf');
}


*, 
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
  font-family: "Nexa-light";
  background-color: #f5f5f5;
}

a{
  text-decoration: none;
}